<?php

const APP_ROOT = __DIR__;

return [
    'settings' => [
        'slim' => [
            // Enables detailed Debug. Should be disabled in production.
            'displayErrorDetails' => true,
            // Display errors in internal PHP log
            'logErrors' => true,
            // Display full debug in the PHP log or just Slim Application Error
            'logErrorDetails' => true,
        ],

        'doctrine' => [
            // Enables Doctrine metadata caching
            'dev_mode' => true,
            // Path where Doctrine will cache the processed metadata when 'dev_mode' is false
            'cache_dir' => APP_ROOT . '/var/doctrine',
            // List of paths where Doctrine will search for metadata (YML/XML/annotated PHP classes)
            'metadata_dirs' => [APP_ROOT . '/src/Model'],
            // DB Configs. See: https://www.doctrine-project.org/projects/doctrine-dbal/en/current/reference/configuration.html
            'connection' => [
                'driver' => 'pdo_sqlite',
                'path' => APP_ROOT . '/var/database.sqlite'
            ]
        ],

        'twig' => [
            // Twig template path
            'templatePath' => APP_ROOT . '/templates',
            // Twig cache, false or cache path
            'cache' => false,
        ],
    ]
];
