.hidde{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition:all 1s;
    animation:toogle 1s linear ease-in;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
