<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Home page</title>
    </head>
    <body class="bg-stone-900">
        
        <a href="/members" class="block m-auto tracking-widest text-center w-1/12 h-3/5 rounded hover:bg-orange-600 text-white ">Create</a>
          
    </body>
</html>